@import "mixins";
@import "concise/concise";
@import "icons/icons";
@import "icons/helper";
@import "icons/social/icons";

// Variables
$red: #ea5c5c;
$dark-gray: #6f8483;
$light-gray: #d7dae5;
$blue: #114b5f;
$green: #1a936f;

$nav-corner: 40px;
$nav-width: 250px;

::selection {
  background: rgba(234, 92, 92, 0.3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(234, 92, 92, 0.3); /* Gecko Browsers */
}
a, a:hover, a:visited{
    color: $red;
}

span.red{
    color: $red;
}
span.gray{
    color: $dark-gray;
}
.address{
    padding-left: 15px;
    .name{
        color: $red;
        font-size: 1.5em;
        font-family: $base-heading-font-family;
    }
    .info{
        text-align: left;
    }
}
.disabled{
    color: $light-gray;
    cursor: default;
}

.cover{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 0;
    color: white;

    
    background-repeat: no-repeat;   
    background-position: top center;
    transition: height 0s;

    &.photo-1{
        background-image: url("../img/tj-small.jpg");
        @include breakpoint(medium){ 
            background-image: url("../img/tj-large.jpg");
        }
    }
    &.photo-2{
        background-image: url("../img/schedule-small.jpg");
        @include breakpoint(medium){ 
            background-image: url("../img/schedule-large.jpg");
        }
    }
    &.photo-3{
        background-image: url("../img/sponsors-small.jpg");
        @include breakpoint(medium){ 
            background-image: url("../img/sponsors-large.jpg");
        }
    }
    &.photo-4{
        background-image: url("../img/schedule-small.jpg");
        @include breakpoint(medium){ 
            background-image: url("../img/schedule-large.jpg");
        }
    }


    .photocreds{
        display: block;
        position: absolute;
        top: 81vh;
        right: 0;
        margin: 5px;
        color: white;
        font-size: 0.7rem;
        font-family: $base-heading-font-family;
    }
}

.header{
    min-height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 2;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    &.large{
        height: 90vh;
        min-height: 650px;
        @include breakpoint(medium){
            height: 85vh;
            min-height: 500px;
        }
    }
    .subtitle{
        color: #fff;
        width: 100%;
        text-align: left;
        margin-bottom: -10px;
        margin-left: 6px;
    }
    .logo{
        display: inline-block;
        margin: auto 30px;
        margin-top: 50px;
        color: white;
        z-index: 6;
        max-width: 80%;
    }
    .event-date{
        color: white;
    }
    .register-as{
        color: white;
        margin-bottom: 0px;
        max-width: 500px;
        text-align: center;
        margin: auto;
        font-weight: 300;
    }
    .registration-soon{
        color: white;
    }
    .header-text{
        color: white;
        font-size: 4rem;
        padding-top: 100px;
    }
}

.content{
    @include box-shadow(0px 0px 25px rgba(30, 30, 30, 0.8));
    min-height: 55vh;
    background: white;
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 50px;
    z-index: 2;
}

.button, button{
    position: relative;
    display: inline-block;
    color: $red;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;

    cursor: pointer;
    padding: 25px 45px;
    margin: 15px 30px;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    border: 3px solid $red;
    

    overflow: hidden;
    min-width: 210px;

    font-family: $base-heading-font-family;
    font-size: 24px;
    color: $red;

    &:visited{
        color: #fff;
    }
    &:after {
       content: '';
       position: absolute;

       z-index: -1;
       -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
       transition: all 0.3s; 

       height: 0;
       width: 103%;
       top: 50%;
       left: 50%;
       background: $red;
       opacity: 0;

       -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
       -ms-transform: translateX(-50%) translateY(-50%);
       transform: translateX(-50%) translateY(-50%);
    }

    @include breakpoint(medium){ // Touchscreens don't handle hover well
        &:hover{
            color: #fff;
            text-decoration: none;
            &:after{
                height: 85%;
                opacity: 1;
            }
        }
        &:active{
            color: #fff;
            &:after{
                height: 104%;
                opacity: 1;
            }
        }
    }

    &.red{
        color: $red;
        border-color: $red;
        &:after{
            background: $red;
        }
        &:hover, &:active{
            color: #fff;
        }
    }
    &.white{
        color: #fff;
        border-color: #fff;
        &:after{
            background: #fff;
        }
        &:hover, &:active{
            color: $red;
        }
    }
}

p{
    max-width: 800px;
    margin: auto;
    &.large{
        font-size: 1.2rem;
    }
}

.line {
    text-align: center;
    position: relative;
    .line-text {
        display: inline-block;
        font-size: 1.5rem;
        &:before, &:after {
            border-top: 1px solid black;
            display: block;
            height: 1px;
            content: " ";
            width: 40%;
            position: absolute;
            left: 0;
            top: 1rem;
            @include breakpoint(medium){
                width: 45%;
            }
        }
        &:after {
           right: 0;  
           left: auto; 
        }  
    }
}

.row.faq [class*='column-'].responsive{
    margin-bottom: 3%;
    @include breakpoint(small) { 
        width: 48%;
        &:nth-of-type(odd){
            margin-left: 0;
        }
    }
    @include breakpoint(large) {
        width: 23.5%;
        &:nth-of-type(odd):not(:first-of-type){
            margin-left: 2%;
        }
    }
}

.day{
    margin: auto;
    z-index: 4;
    font-size: 2rem;
    color: $red;
}
.schedule-container{
    position: relative;
    margin: 25px;
    
    @include breakpoint(small){ 
        &:after {
          position: absolute;
          left: 20%;
          top: 0px;
          content: ' ';
          display: block;
          width: 2px;
          height: 100%;
          margin-left: -3px;
          background: map-get($bg-colors, black);
        }
    }
    .item{
        width: 100%;
        text-align: left;
        .time{
            position: relative;
            left: -30px;
            font-size: 20px;
            width: 30%;
            display: inline-block;
            margin-bottom: 0.5rem;
        }
        .description{
            // @include box-shadow(0px 1px 10px rgba(30, 30, 30, 0.8));
            text-align: left;
            font-size: 25px;
            display: inline-block;
            margin-bottom: 1.25rem;
            width: 100%;
        }
        @include breakpoint(medium){
            height: 100px;
            .time{
                width: 22%;
                text-align: right;
                margin-bottom: 0;
            }
            .description{
                width: 73%;
                margin-bottom: 0;
                top: 0.5rem;
            }
        }
    }
}
.sponsor-container{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    .sponsor{
        max-width: 90%;
        width: 250px;
        &.wide{
            width: 350px;
        }
        height: 150px;
        margin: 20px 30px;
        display: inline-block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
        transition: all .2s;
        -webkit-transition: all .2s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        &:hover{
            filter: none;
            -webkit-filter: grayscale(0%);
        }

        @include breakpoint(medium){
            max-width: none;
        }   
    }

    @include breakpoint(medium){
        width: 850px;
    }
}
.faq-head{
    margin-top: 1rem;
}

.faq{
    .question{
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
    }
    .answer{
        margin-bottom: 1.5rem;
    }
}

.embed-map, .address{
    margin-top: 1.5rem;
}

.credits{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 3rem;
    text-align: center;
    margin: auto;   
}

@keyframes expand {
  0% {
    width: 0;
    height: 0;
    top: $nav-corner;
    left: $nav-corner;
  }
  100% {
    width: $nav-width;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}
@-webkit-keyframes expand {
  0% {
    width: 0;
    height: 0;
    top: $nav-corner;
    left: $nav-corner;
  }
  100% {
    width: $nav-width;
    height: 100%;
    top: 0px;
    left: 0px;
  }
}
@keyframes shrink {
  0% {
    width: $nav-width;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 0;
    height: 0;
    top: $nav-corner;
    left: $nav-corner;
  }
}
@-webkit-keyframes shrink {
  0% {
    width: $nav-width;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 0;
    height: 0;
    top: $nav-corner;
    left: $nav-corner;
  }
}

.nav-container{
    .toggle-nav{
        margin: 0;
        position: fixed;
        width: 40px;
        height: 40px;
        top: 15px;
        left: 15px;
        color: #fff;
        z-index: 20;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer;
        span{
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #fff;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;

            &:nth-child(1) {
              top: 0px;
            }
            &:nth-child(2), &:nth-child(3) {
              top: 12px;
            }
            &:nth-child(4) {
              top: 24px;
            }
        }
        &.red span{
            background: $red;
        }
    }

    .nav{
        @include box-shadow(0px 0px 25px rgba(30, 30, 30, 0.8));
        position: fixed;
        display: block;
        top: $nav-corner;
        left: $nav-corner;
        height: 0;
        width: 0;
        opacity: 0.85;
        background-color: lighten($red, 1%);
        color: white;
        z-index: 10;
        overflow: hidden;

        -webkit-animation: shrink 0.4s;
        -moz-animation: shrink 0.4s;
        -o-animation: shrink 0.4s;
        animation: shrink 0.4s;

        ul{
            padding: 0;
            margin: 0;
            margin-top: 80px;
            list-style-type: none;
            li{
                padding: 0.5rem 0;
                margin: 0;
                width: 100%;
                text-align: center;

                a.nav-link{
                    color: white;
                    opacity: 1;
                    display: block;
                    margin: 0;
                    padding: 0.75rem 0;
                    width: 100%;
                    height: 100%;
                    z-index: 12;

                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s; 
                    &.third{
                        width: 33%;
                        display: inline-block;
                        position: relative;
                        font-size: 1.5em;
                        &.center{
                            width: 34%;
                        }
                    }
                    @include breakpoint(medium){
                        &:after{
                            content: '';
                            position: absolute;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s; 
                            z-index: -1;
                            height: 0;
                            width: 100%;
                            top: 50%;
                            left: 50%;
                            background: #fff;//darken( $red, 5% );
                            opacity: 0.5;

                            -webkit-transform: translateX(-50%) translateY(-50%);
                            -moz-transform: translateX(-50%) translateY(-50%);
                            -ms-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%);
                        }
                        &:hover{
                            text-decoration: none;
                            color: $red;
                            &:after{
                                height: 103%;
                                opacity: 0.85;
                            }
                        }
                    }
                }
            }
        }
    }
    &.shown{
        .toggle-nav span{
            background: #fff;
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
        .nav{
            -webkit-animation: expand 0.4s;
            -moz-animation: expand 0.4s;
            -o-animation: expand 0.4s;
            animation: expand 0.4s;
            width: $nav-width;
            height: 100%;
            top: 0px;
            left: 0px;
        }
    }
    &.no-animate .nav{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }
}
@keyframes loading {
  0% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes loading {
    0% {
      width: 30px;
      height: 30px;
    }
    100% {
      width: 100px;
      height: 100px;
    }
}
#loading{
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;  
    &.hidden{
        opacity: 0;
    }
    &.removed{
        display: none;
    }
}
.modal{
    display: block;
    position: fixed;
    bottom: 300%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
       -moz-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
         -o-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    background: white;
    padding: 10px 25px;
    width: 500px;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    overflow-y: scroll;
    z-index: 100;
    pointer-events: none;
    transition: bottom 0.5s;
    &.shown{
        pointer-events: auto;
        bottom: 50%;
    }
    .opens-at{
        width: 100%;
        text-align: center;
        font-size: 25px;
        color: $red;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: $base-heading-font-family 
    }
    .close-button{
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        right: 25px;
        top: 5px;
        font-size: 50px;
        transition: color 0.3s;
        cursor: pointer;
        &:hover{
            color: $red;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            margin: 0;
            padding: 0;
        }
    }
    .tito-ticket-list, .tito-badge-link{
        visibility: hidden;
    }
    .tito-ticket-name-wrapper, .tito-ticket-price, .tito-ticket-quantity > span, .tito-ticket-quantity-field, .tito-discount-code{
        display: none;
    }
    .tito-wrapper{
        width: 100%;
    }
    .tito-submit{
        visibility: visible;
        margin: 0;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }
    .title{
        width: 100%;
        text-align: center;
        color: $red;
    }
}
.modal-cover{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $red;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    &.shown{
        pointer-events: auto;
        cursor: pointer;
        opacity: 0.6;
    }
}