doctype
html
  head
    title HackTJ 2.0

    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body
    //- Stuff in this div is fixed to the background
    .cover 
      .photocreds Photo by James Woglom
    //- This div scrolls with the page
    .header 
      .logo.h1 
        | HackTJ
        span.num 2.0

    //- Main section of page
    .content
      .container
        .row
          .h1.column-16 HackTJ is back. And it's going to be bigger and better than ever.
        .row.gutters
          .column-5
            .icon-tools.icon-4x
            .h3 Build cool stuff
            .text Lorem ipsum Cupidatat reprehenderit aliqua magna amet fugiat consectetur non sint nulla occaecat ut cillum Duis proident do sit ex proident officia quis Ut in aliquip pariatur non est.
          .column-6
            .icon-notebook.icon-4x
            .h3 Learn something new
            .text Lorem ipsum Cupidatat reprehenderit aliqua magna amet fugiat consectetur non sint nulla occaecat ut cillum Duis proident do sit ex proident officia quis Ut in aliquip pariatur non est.
          .column-5
            .icon-gift.icon-4x
            .h3 Win prizes
            .text Lorem ipsum Cupidatat reprehenderit aliqua magna amet fugiat consectetur non sint nulla occaecat ut cillum Duis proident do sit ex proident officia quis Ut in aliquip pariatur non est.

    //- script(src='/js/main.js', type='text/javascript')
