doctype
html
  head
    title HackTJ 2.0

    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body
    .page

      //- This div scrolls with the page
      .header.large#header-1(data-bg="photo-1")
        .logo.giga.weight-light
          | HackTJ
          span.num 2.0
        .h2 Feburary 26-27, 2015
        .buttons
          .button.h3 Register
          .button.h3 Mentor
          .button.h3 Sponsor

      //- Main section of page
      .content
        .container
          .row.gutters
            .column-16
              .h1.weight-light TJ's own hackathon is back.
              p.large Ever wanted to build the next Snapchat? Program a drone? Build a website to connect people across the globe? Come to HackTJ and work with your friends to build something cool, learn a lot, and have a great time in the process.
          .row
            .column-16
              .line
                .h2.weight-light.line-text FAQ
          .row.gutters.faq
            .column-4.responsive
              .h3 What is HackTJ?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 When is HackTJ?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 Who can attend?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 How much will it cost?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
          .row.gutters.faq
            .column-4.responsive
              .h3 Who will be there?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 What should I bring?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 What if I have dietary concerns?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.
            .column-4.responsive
              .h3 What if my question isn't here?
              p [ Fill in answer here ] Lorem ipsum Eu consectetur Duis Duis labore mollit quis anim non labore ex irure.


      .header#header-2(data-bg="photo-2")
        .mega.header-text.weight-light Schedule

      .content
        .container
          .row
            .column-8
              .row.gutter
                .column-16.h1.day Saturday, January 30
              .schedule-container
                .row.gutter.item
                  .column-4.h3.time 9:00 AM
                  .column-12.description Registration Opens
                .row.gutter.item
                  .column-4.h3.time 11:00 AM
                  .column-12.description Registration Opens
                .row.gutter.item
                  .column-4.h3.time 5:00 PM
                  .column-12.description Registration Opens
                .row.gutter.item
                  .column-4.h3.time 12:00 AM
                  .column-12.description Registration Opens
            .column-8
              .row
                .column-16.h1.day Sunday, January 31
              .schedule-container
                .row.gutter.item
                  .column-4.h3.time 8:00 AM
                  .column-12.description Breakfast
                .row.gutter.item
                  .column-4.h3.time 12:00 PM
                  .column-12.description Hacking ends
                .row.gutter.item
                  .column-4.h3.time 1:00 PM
                  .column-12.description Demos start
                .row.gutter.item
                  .column-4.h3.time 3:00 PM
                  .column-12.description End of HackTJ
            
      .header#header-3(data-bg="photo-3")
        .mega.header-text.weight-light Sponsors

      .content
        .container
          p.large.editable HackTJ wouldn't possible without our awesome sponsors. [sponsor text here]
          p
            .button.h3.red Want to sponsor?

      .header#header-3(data-bg="photo-4")
        .mega.header-text.weight-light Contact Us

      .content
        .container
          p.large.editable Have any questions? Please feel free to drop us a line - we would love to help you!
          p
            .button.h3.red Contact Us
      //- Todo: Split FAQ into own section?

      
    //- Stuff in this div is fixed to the background
    .cover.photo-4
      .photocreds Photo by Hannah Rudin
    .cover.photo-3 
      .photocreds Photo by Hannah Rudin
    .cover.photo-2 
      .photocreds Photo by Mayank Jain
    .cover.photo-1 
      .photocreds Photo by James Woglom
    script(src='/js/jquery.min.js', type="text/javascript")
    script(src='/js/main.js', type='text/javascript' async)
