doctype
html(prefix="og: http://ogp.me/ns#")
  head
    title HackTJ 2.0

    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="apple-mobile-web-app-capable" content="yes")

    meta(property="og:title" content="HackTJ: The Original High School Hackathon")
    meta(property="og:description" content="Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!")
    meta(property="og:site_name" content="HackTJ")
    meta(property="og:image" content="https://hacktj.org/img/og-image.jpg")

    link(rel="icon" type="image/png" href="/img/favicon.png")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quattrocento|Roboto:300", type="text/css")
    link(rel='stylesheet', href='css/main.css', type='text/css')
    
  body
    #loading
    //- .modal-cover
    //- .modal.student
    //-   h3.title#student-title 1 Student Registration : $10
    //-   .description
    //-     p Open to all high school students, anywhere.
    //-     br
    //-     p#charge-info We charge only $10 to cover a small portion of our expenses, but if the fee would prevent you from attending please <a href="mailto:hello@hacktj.org">email us at hello@hacktj.org</a> and we can provide a scholarship.
    //-   .icon-close.close-button
    //-   //- tito-widget#student-widget(event="hacktj/2015" releases="u9vrsbnindq")
    //-   .opens-at Registration is now closed.
    //- .modal.mentor
    //-   h3.title 1 Mentor Registration: Free
    //-   .description Mentors are professionals who help students with their hacks during the event. Technical skills are not a requirement, only some skill (design, marketing, product management) that you believe can help students. Must be 18+.
    //-   .icon-close.close-button
    //-   tito-widget(event="hacktj/2015" releases="1fp901sm-o")
    .nav-container.no-animate
      .toggle-nav
        span
        span
        span
        span

      .nav
        ul
          li
            a.h3.nav-link(href="#top") Home
          li
            a.h3.nav-link(href="#numbers") By the Numbers
          li
            a.h3.nav-link(href="#winners") Winners
          li
            a.h3.nav-link(href="#sponsors") Sponsors
          li
            a.h3.nav-link(href="#contact") Stay Tuned!
          li
            a.nav-link.third.pe-so-twitter(href="https://twitter.com/HackTJOfficial" target="_blank")
            a.nav-link.third.center.pe-so-facebook(href="https://facebook.com/HackTJOfficial" target="_blank")
            a.nav-link.third.pe-so-instagram(href="https://instagram.com/hacktjofficial" target="_blank")


    .page

      //- This div scrolls with the page
      .header.large#top(data-bg="photo-1")
        img.logo(src="img/logo.png", alt="HackTJ")
        .h1.light.event-date May 16-17, 2015

      //- Main section of page
      .content
        .container
          .row.gutters
            .column-16
              .h1.weight-light Thanks to everyone who made HackTJ 2.0 a success!
              p.large On May 16-17, 2015, almost 300 high school students from around the DC area gathered at Thomas Jefferson High School for Science and Technology for a weekend of learning, teamwork, and coding. With the help of our mentors, sponsors, and a little caffine, those students built more than 60 mobile apps, websites, and other projects with their own creativity and ingenuity.
          .row.gutters
            .column-16
              p.large More than 400 photos have been posted on Facebook - take a look to relive the weekend!
              a.button.h3.red(href="https://www.facebook.com/media/set/?set=a.831228620289662.1073741829.815704928508698&type=3" target="_blank") View Photos from HackTJ

      .header#numbers(data-bg="photo-2")
        .mega.header-text.weight-light By the Numbers

      .content
        .container
          .row.narrow
            .column-16
              .big-number.bigger 28
              .stat.bigger hours
          .row.narrow
            .column-8
              .big-number.bigger 287
              .stat.bigger students
            .column-8
              .big-number.bigger 51
              .stat.bigger mentors
          .row.gutters#charts
            .column-5
              .survey-question.h4.weight-light Overall, how successful was HackTJ 2.0?
              canvas.pie-chart#successChart
            .column-5
              .survey-question.h4.weight-light Would you participate in HackTJ again?
              canvas.pie-chart#returnChart
            .column-5
              .survey-question.h4.weight-light Would you recommend HackTJ to your friends?
              canvas.pie-chart#recommendChart
          .row
            .column-16
              p (Based on survey responses from 48 students)
          .row
            .column-16.left-text
              .big-number 35%
              .stat female attendees (11% greater than the national average in tech)
          .row
            .column-16.left-text
              .big-number 38%
              .stat of attendees had never developed web or mobile apps before

      .header#winners(data-bg="photo-3")
        .mega.header-text.weight-light Winners

      .content
        .container.narrow
          .winner Best Mobile App: 
            a(href="http://challengepost.com/software/dispatch-6p3ke" target="_blank") Dispatch
          .winner Best Web App: 
            a(href="http://challengepost.com/software/dormigo" target="_blank") Dormigo
          .winner Best Design: 
            a(href="http://challengepost.com/software/zomblr" target="_blank") Zomblr
          .winner Most Innovative: 
            a(href="http://challengepost.com/software/airdj" target="_blank") AirDJ
          p
            a.button.h3.red(href="http://hacktj2015.challengepost.com/submissions" target="_blank") View all hacks

      .header#sponsors(data-bg="photo-4")
        .mega.header-text.weight-light Sponsors

      .content
        .container
          .h2.weight-light HackTJ 2.0 wouldn't have been possible without all our fantastic sponsors!
          .sponsor-container
            a.sponsor.wide(href="http://www.universal-inc.net" target="_blank" style="background-image: url(img/sponsor/ucs.png);")
            a.sponsor.wide(href="https://www.mongodb.org" target="_blank" style="background-image: url(img/sponsor/mongodb.png);")
            a.sponsor.wide(href="http://www.reticare.com/en/" target="_blank" style="background-image: url(img/sponsor/reticare.png);")
            a.sponsor(href="http://lorealusa.com" target="_blank" style="background-image: url(img/sponsor/loreal.jpg);")
            a.sponsor(href="http://www.yext.com" target="_blank" style="background-image: url(img/sponsor/yext.png);")
            a.sponsor.wide(href="http://actonline.org" target="_blank" style="background-image: url(img/sponsor/act.png);")
          p
            a.button.h3.red(href="mailto:hello@hacktj.org" target="_blank") Want to sponsor next year?


      .header#contact(data-bg="photo-5")
        .mega.header-text.weight-light Stay Tuned

      .content
        .container
          p.large HackTJ will be back in 2016! Keep an eye on our social media accounts or join our mailing list to be ready for next year's event!
          p
            a.button.h3.red(href="http://hacktj.us10.list-manage.com/subscribe?u=53b8b5d0c3cbcc0ddd3736797&id=d4bcd89d15" target="_blank") Join Mailing List
          br
          .social-icons
            a.social.pe-so-twitter(href="https://twitter.com/HackTJOfficial" target="_blank")
            a.social.nav-link.third.center.pe-so-facebook(href="https://facebook.com/HackTJOfficial" target="_blank")
            a.social.nav-link.third.pe-so-instagram(href="https://instagram.com/hacktjofficial" target="_blank")

          p.credits
            | HackTJ is organized by TJ's 
            a(href="http://tjclc.wordpress.com") Coding Lady Colonials
            | . &copy; 2014-2015.
            br  
            | Cover photo credit: James Woglom
      
    .cover.photo-5
    .cover.photo-4
    .cover.photo-3 
    .cover.photo-2 
    .cover.photo-1 
    script(src='js/main.js', type='text/javascript')
