doctype
html(prefix="og: http://ogp.me/ns#")
  head
    title HackTJ 2.0

    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="apple-mobile-web-app-capable" content="yes")

    meta(property="og:title" content="HackTJ: The Original High School Hackathon")
    meta(property="og:description" content="Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!")
    meta(property="og:site_name" content="HackTJ")
    meta(property="og:image" content="http://hacktj.org/img/og-image.jpg")

    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(rel="icon" type="image/png" href="/favicon.png")

  body
    #loading
    .modal-cover
    .modal.student
      h3.title#student-title 1 Student Registration : $10
      .description
        p Open to all high school students, anywhere.
        br
        p#charge-info We charge only $10 to cover a small portion of our expenses, but if the fee would prevent you from attending please <a href="mailto:hello@hacktj.org">email us at hello@hacktj.org</a> and we can provide a scholarship.
      .icon-close.close-button
      tito-widget#student-widget(event="hacktj/2015" releases="u9vrsbnindq")
    .modal.mentor
      h3.title 1 Mentor Registration: Free
      .description Mentors are professionals who help students with their hacks during the event. Technical skills are not a requirement, only some skill (design, marketing, product management) that you believe can help students. Must be 18+.
      .icon-close.close-button
      tito-widget(event="hacktj/2015" releases="1fp901sm-o")
    .nav-container.no-animate
      .toggle-nav
        span
        span
        span
        span

      .nav
        ul
          li
            a.h3.nav-link(href="#top") Home
          li
            a.h3.nav-link(href="#faq") FAQ
          li
            a.h3.nav-link(href="#logistics") Logistics
          li
            a.h3.nav-link(href="#sponsors") Sponsors
          li
            a.h3.nav-link(href="#contact") Contact Us
          li
            a.nav-link.third.pe-so-twitter(href="https://twitter.com/HackTJOfficial" target="_blank")
            a.nav-link.third.center.pe-so-facebook(href="https://facebook.com/HackTJOfficial" target="_blank")
            a.nav-link.third.pe-so-instagram(href="https://instagram.com/hacktjofficial" target="_blank")


    .page

      //- This div scrolls with the page
      .header.large#top(data-bg="photo-1")
        img.logo(src="img/logo.png", alt="HackTJ")
        .h2.light.event-date May 16-17, 2015
        //- .kilo.light.registration-soon Registration opens soon
        .buttons
          //- .button.white.h3.disabled Registration coming soon
          .button.white.h3.registration-students Register
          .button.white.h3.registration-mentors Mentor

      //- Main section of page
      .content
        .container
          .row.gutters
            .column-16
              .h1.weight-light TJ's own hackathon is back: 
                span.red HackTJ 2.0
              p.large Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!
          #faq
            .row.faq-head
              .column-16
                .line
                  .h2.weight-light.line-text FAQ
            .row.gutters.faq
              .column-4.responsive
                .h3.question What is HackTJ?
                p.answer HackTJ is a student-run hackathon at TJHSST, where you will have 24 hours to learn how to code and/or work with your friends to make your idea come to life.
              .column-4.responsive
                .h3.question When is HackTJ?
                p.answer HackTJ will start on Saturday, May 16 at 3:00pm and run until Sunday, May 17 at 5:00pm. If you need to arrive late or leave early, please <a href="mailto:hello@hacktj.org">let us know</a> ahead of time.
              .column-4.responsive
                .h3.question Who can attend?
                p.answer HackTJ is open to any and all current high school students. If you're not a high school student but would like to attend, consider coming <a href="" onclick="return false;">as a mentor</a>.
              .column-4.responsive
                .h3.question How much will it cost?
                p.answer HackTJ is just $10 for students (less than a movie ticket!) but if you're unable to afford that, please <a href="mailto:hello@hacktj.org">email us</a> and we'll help make it work for you.
            
            .row.gutters.faq
              .column-4.responsive
                .h3.question Can I get a refund?
                p.answer Certainly. If you're no longer able to attend and want a refund, <a href="mailto:hello@hacktj.org">email us</a> before Wednesday, May 13th and we'll help you out.
              .column-4.responsive
                .h3.question What should I bring?
                p.answer You'll need to bring your laptop, phone, chargers, a sleeping bag/pillow, toiletries, and extra clothing. We suggest you bring a set of nice clothes for demos; you'll want to make the best impression.
              .column-4.responsive
                .h3.question Do I need to pick a team?
                p.answer If you already have a team of 2-4 people who you want to work with, that's awesome - just meet up at the hackathon. If you don't, don't worry because at HackTJ we'll have an opportunity for people to join a team if they need one.
              .column-4.responsive
                .h3.question What if I don't know how to code?
                p.answer Come to HackTJ! Coding is fun, creative, and an important skill, and HackTJ is the perfect way to learn. We'll have workshops and mentors to help guide you. 

            .row.gutters.faq
              .column-4.responsive
                .h3.question Will there be food?
                p.answer Yes. Lots and lots of food.
              .column-4.responsive
                .h3.question What if I have dietary concerns?
                p.answer We'll be providing meals for most everyone at HackTJ, but if you have special concerns please <a href="mailto:hello@hacktj.org">let us know</a>.
              .column-4.responsive
                .h3.question Is HackTJ 2.0 a sequel to the 2013 HackTJ?
                p.answer Yes and no. HackTJ is the sequel to HackTJ and will be continued as an annual hackathon, going forward this event will be organized by TJ's <a href="http://tjclc.wordpress.com">Coding Lady Colonials</a>, not <a href="http://gopilot.org">Pilot</a>.
              .column-4.responsive
                .h3.question What if my question isn't here?
                p.answer We want to answer it for you! Just send us a quick email at <a href="mailto:hello@hacktj.org">hello@hacktj.org</a> and we'll get back to you shortly.


      .header#logistics(data-bg="photo-2")
        .mega.header-text.weight-light Logistics

      .content
        .container
          .row
            .column-8
              .row.gutter
                .column-16.h1.day Saturday, May 16
              .schedule-container
                .item
                  .h3.time 2:00 PM
                  .description Registration Opens
                .item
                  .h3.time 2:30 PM
                  .description Opening Ceremony
                .item
                  .h3.time 3:30 PM
                  .description Hacking Begins
                .item
                  .h3.time 6:30 PM
                  .description Dinner
                .item
                  .h3.time 11:00 PM
                  .description Late-night snack
            .column-8
              .row
                .column-16.h1.day Sunday, May 17
              .schedule-container
                .item
                  .h3.time 8:00 AM
                  .description Breakfast
                .item
                  .h3.time 12:00 PM
                  .description Lunch
                .item
                  .h3.time 3:00 PM
                  .description Hacking Ends
                .item
                  .h3.time 3:30 PM
                  .description Expo starts
                .item
                  .h3.time 4:30 PM
                  .description Presentations &amp; Final Ceremony
                .item
                  .h3.time 5:30 PM
                  .description End of HackTJ
          br
          .row
            .column-12
              <iframe id="mapbox-iframe" class="embed-map" width='100%' height='600px' frameBorder='0'></iframe>
            .column-4.address  
              .name HackTJ
              .info TJHSST
              .info 6560 Braddock Road
              .info Alexandria, VA

      .header#sponsors(data-bg="photo-3")
        .mega.header-text.weight-light Sponsors

      .content
        .container
          .sponsor-container
            //- .sponsor(style="background-image: url(img/sponsor/yext.png);")
            .sponsor.wide(style="background-image: url(img/sponsor/act.png);")
            .sponsor.wide(style="background-image: url(img/sponsor/ucs.png);")
          p.large.editable Stay tuned as we continue to announce more sponsors leading up to the event!
          p
            a.button.h3.red(href="mailto:hello@hacktj.org" target="_blank") Want to sponsor?

      .header#contact(data-bg="photo-4")
        .mega.header-text.weight-light Contact Us

      .content
        .container
          p.large.editable Have any questions? Please feel free to drop us a line - we would love to help you!
          p
            a.button.h3.red(href="mailto:hello@hacktj.org") Contact Us
          br
          p.credits
            | HackTJ is organized by TJ's 
            a(href="http://tjclc.wordpress.com") Coding Lady Colonials
            | . &copy; 2014-2015.
            br  
            | Cover photo credit: James Woglom
      
    //- Stuff in this div is fixed to the background
    .cover.photo-4
    .cover.photo-3 
    .cover.photo-2 
    .cover.photo-1 
    script(src='js/main.js', type='text/javascript')
